/* adjustments for Franklin */
html {
  scroll-padding-top: 65px;
}

body {
  background-color: #ffffff;
  width: 100%; /* 87.5%; */
  margin: auto;
  /* margin: 0; */
}

.toprow {
  text-align: center;
  margin: 2px;
	color: #000000;
  /* Large font size */
  font-size: 1.5rem;
}

header {
  position: sticky;
  top: -1px;
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  /* font-variant: small-caps; */
}

.small-caps {
    font-variant: small-caps;
}

@media (max-width: 500px) {
  header ul {
    font-size: 1rem;
  }
}

.toc {
  margin-top: 100px;
  float: left;
  width: 100px;
  text-align: right;
}

#right-toc li::marker {
  content:  "â€“ ";
}

#right-toc ol {
  direction: rtl;
}

.flat-toc {
  width: 100%;
}

.flat-toc ol {
  text-align: center;
  padding: 0;
}

.flat-toc ol li {
  margin: 0 10px 20px 0;
  padding: 0;
  list-style: none;
}

.flat-toc ol li a {
  color: #111;
  text-decoration: none;
  position: relative;
  padding: 10px 10px;
}

.flat-toc ol li a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: rgba(17, 17, 17, 0.7);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flat-toc ol li a:hover {
  text-decoration: none;
}

.flat-toc ol li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.flat-toc li {
  display: inline-block;
  line-height: 30px;
}


header ul {
  text-align: center;
  padding: 0;
}

header ul li {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

header ul li a {
  color: #111;
  text-decoration: none;
  position: relative;
  padding: 10px 10px;
}

header ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: rgba(17, 17, 17, 0.7);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header ul li a:hover {
  text-decoration: none;
}

header ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

header li {
  display: inline-block;
  line-height: 30px;
}



.franklin-content code {
  font-size: var(--small);
}

.franklin-content { font-size: 1.4rem; }

/* .franklin-content p {
  font-size: 1rem;
}

.franklin-content ol {
  font-size: 1rem;
}

.franklin-content h3 a {
  text-decoration: none;
} */


#main {
  float: left;
}

#menu ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

#menu ul li {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

#menu ul li a {
  color: #111;
  text-decoration: none;
  position: relative;
  padding: 10px 10px;
}

#menu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: rgba(17, 17, 17, 0.7);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu ul li a:hover {
  text-decoration: none;
}

#menu ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.franklin-content { padding-left: 10%; }
.franklin-content { padding-right: 5%; }

/* @media (max-width: 1000000px) { */
@media (max-width: 940px) {
  /* narrow display: menu is at the top */
  #menu {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 25px;
  }

  #menu li {
    display: inline-block;
    line-height: 30px;
  }

  #main {
    float: none;
    width: 100%;
  }
}

@media (min-width: 940px) {
  #menu {
    margin-top: 100px;
    float: left;
    width: 100px;
    text-align: right;
  }
  .franklin-content { width: 600px; }
}

@media (min-width: 1000px) {
  .franklin-content { width: 660px; }
}
